<a href="https://colab.research.google.com/github/coolcrab28/coolcrab28.github.io/blob/master/jv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import json
import pandas
import numpy
from prettytable import PrettyTable as pt

In [ ]:
t = pt()
t.field_names = ["Name", "Age"]

In [ ]:
f = open('students.json', 'r')
d = json.load(f)

In [ ]:
for i in d['students']:
    t.add_row([i["name"],i["age"]])

In [ ]:
print(t)